header {
  border-bottom: solid #000;
  display: flex;
  padding: 10px;
}

h1 {
  /* margin: 16px 8px; */
  margin: 0.5rem;
  display: inline-block;
}

.sns {
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border: 2px solid #000;
  color: #000;
  border-radius: 100vh;
  transition: 0.5s;
  /* float: right; */
}

.sns:hover {
  color: #fff;
  background: #000;
}

.app {
  font-size: 24px;
  margin: 16px;
  width: 80%;
  padding: 1rem;
  font-weight: bold;
  border: 2px solid #000;
  color: #000;
}
